.menubar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(105, 136, 125);
}
.logo{
    color: rgb(206, 135, 5);
    font-weight: 800;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.li{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.li li{
    list-style: none;
    margin-right: 20px;
}
.li sup{
    color: rgb(206, 135, 5);
}